

.App {
  background-color: #00ff00;
  width: 1920px;
  height: 1080px;
  display: flex;
  flex-direction: column-reverse;
  font-family: recipe

}

@font-face{
  font-family: "notoSans";
  src: url("./assets/fonts/NotoSansKR-Light.otf");
}

@font-face{
  font-family: "recipe";
  src: url("./assets/fonts/Recipekorea 레코체 FONT.ttf") format("truetype");
}

.Container {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;

}

.body {

}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
